<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin xyz="-0.0307058 -0.00250012 0.1371" rpy="0 0 3.14159"/>
    </joint>

    <link name="laser_frame">
    </link>

    <gazebo>
        <plugin
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <gazebo reference="laser_frame">
        <sensor name="laser" type="gpu_lidar">
            <frame_id>laser_frame</frame_id>
            <gz_frame_id>laser_frame</gz_frame_id>

            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>20</update_rate>
            <topic>scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.15</min>
                    <max>12</max>
                </range>
            </ray>
        </sensor>
    </gazebo>

</robot>
