<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="laser_joint" type="fixed">
        <parent link="base_link_chassis"/>
        <child link="laser_frame"/>
        <origin xyz="-0.0307058 -0.00250012 0.1371" rpy="0 0 0"/>
    </joint>

    <link name="laser_frame">
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 -0 -3.14159"/>
            <geometry>
                <mesh filename="package://rossy/description/assets/lidar.stl"/>
            </geometry>
            <material name="lidar_material">
                <color rgba="0.109804 0.109804 0.109804 1"/>
            </material>
        </visual>
    </link>

    <gazebo reference="laser_frame">
        <sensor name="laser" type="gpu_lidar">
            <frame_id>laser_frame</frame_id>
            <gz_frame_id>laser_frame</gz_frame_id>

            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            <topic>scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin
                filename="gz-sim-sensors-system"
                name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin>
        </sensor>
    </gazebo>

</robot>
